dist
node_modules
.DS_Store
.build
/Packages
/*.xcodeproj
xcuserdata/
.swiftpm
.vscode
Examples/*/Bundle
Examples/*/package-lock.json
Package.resolved
Plugins/BridgeJS/Sources/JavaScript/package-lock.json
Plugins/BridgeJS/Tests/BridgeJSToolTests/__Snapshots__/**/*.actual
bridge-js.config.local.json
