// swift-tools-version:6.0

import PackageDescription

let package = Package(
    name: "FuzzTarget",
    platforms: [
        .macOS(.v14)
    ],
    dependencies: [.package(name: "JavaScriptKit", path: "{{JAVASCRIPTKIT_PATH}}")],
    targets: [
        .executableTarget(
            name: "FuzzTarget",
            dependencies: [
                "JavaScriptKit"
            ],
            swiftSettings: [
                .enableExperimentalFeature("Extern")
            ],
            plugins: [
                .plugin(name: "BridgeJS", package: "JavaScriptKit")
            ]
        )
    ]
)
