name: Run unit tests
on:
  pull_request:
  push:
    branches: [main]
jobs:
  test:
    name: Build and Test
    strategy:
      matrix:
        os: [macos-10.15, macos-11, ubuntu-18.04, ubuntu-20.04]
        toolchain:
          - wasm-DEVELOPMENT-SNAPSHOT-2021-09-29-a
          - wasm-5.5-SNAPSHOT-2021-09-26-a
    runs-on: ${{ matrix.os }}
    steps:
      - name: Checkout
        uses: actions/checkout@master
        with:
          fetch-depth: 1
      - name: Run Test
        run: |
          git clone https://github.com/kylef/swiftenv.git ~/.swiftenv
          export SWIFTENV_ROOT="$HOME/.swiftenv"
          export PATH="$SWIFTENV_ROOT/bin:$PATH"
          eval "$(swiftenv init -)"
          SWIFT_VERSION=${{ matrix.toolchain }} make bootstrap
          echo ${{ matrix.toolchain }} > .swift-version
          make test
