name: Run unit tests
on:
  pull_request:
  push:
    branches: [main]
jobs:
  test:
    name: Build and Test
    strategy:
      matrix:
        entry:
          # Ensure that all host can install toolchain, build project, and run tests
          - { os: macos-12,     toolchain: wasm-5.9.1-RELEASE, wasi-backend: Node, xcode: Xcode_13.4.1.app }
          - { os: macos-13,     toolchain: wasm-5.9.1-RELEASE, wasi-backend: Node, xcode: Xcode_14.3.app }
          - { os: macos-14,     toolchain: wasm-5.9.1-RELEASE, wasi-backend: Node, xcode: Xcode_15.2.app }
          - { os: ubuntu-22.04, toolchain: wasm-5.9.1-RELEASE, wasi-backend: Node }
          - { os: ubuntu-22.04, toolchain: wasm-5.10.0-RELEASE, wasi-backend: Node }

          # Ensure that test succeeds with all toolchains and wasi backend combinations
          - { os: ubuntu-20.04, toolchain: wasm-5.7.3-RELEASE, wasi-backend: Node }
          - { os: ubuntu-20.04, toolchain: wasm-5.8.0-RELEASE, wasi-backend: Node }
          - { os: ubuntu-20.04, toolchain: wasm-5.7.3-RELEASE, wasi-backend: MicroWASI }
          - { os: ubuntu-20.04, toolchain: wasm-5.8.0-RELEASE, wasi-backend: MicroWASI }
          - { os: ubuntu-20.04, toolchain: wasm-5.9.1-RELEASE, wasi-backend: MicroWASI }
          - os: ubuntu-22.04
            toolchain: DEVELOPMENT-SNAPSHOT-2024-05-01-a
            swift-sdk:
              id: DEVELOPMENT-SNAPSHOT-2024-05-25-a-wasm32-unknown-wasi
              download-url: "https://github.com/swiftwasm/swift/releases/download/swift-wasm-DEVELOPMENT-SNAPSHOT-2024-05-25-a/swift-wasm-DEVELOPMENT-SNAPSHOT-2024-05-25-a-wasm32-unknown-wasi.artifactbundle.zip"
            wasi-backend: Node
          - os: ubuntu-22.04
            toolchain: DEVELOPMENT-SNAPSHOT-2024-05-01-a
            swift-sdk:
              id: DEVELOPMENT-SNAPSHOT-2024-05-25-a-wasm32-unknown-wasip1-threads
              download-url: "https://github.com/swiftwasm/swift/releases/download/swift-wasm-DEVELOPMENT-SNAPSHOT-2024-05-25-a/swift-wasm-DEVELOPMENT-SNAPSHOT-2024-05-25-a-wasm32-unknown-wasip1-threads.artifactbundle.zip"
            wasi-backend: Node

    runs-on: ${{ matrix.entry.os }}
    env:
      JAVASCRIPTKIT_WASI_BACKEND: ${{ matrix.entry.wasi-backend }}
      SWIFT_VERSION: ${{ matrix.entry.toolchain }}
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Select SDKROOT
        if: ${{ matrix.entry.xcode }}
        run: sudo xcode-select -s /Applications/${{ matrix.entry.xcode }}
      - uses: swiftwasm/setup-swiftwasm@v1
        if: ${{ matrix.entry.swift-sdk == null }}
        with:
          swift-version: ${{ matrix.entry.toolchain }}
      - uses: ./.github/actions/install-swift
        if: ${{ matrix.entry.swift-sdk }}
        with:
          swift-dir: development/ubuntu2204
          swift-version: swift-${{ matrix.entry.toolchain }}
      - name: Install Swift SDK
        if: ${{ matrix.entry.swift-sdk }}
        run: |
          swift sdk install "${{ matrix.entry.swift-sdk.download-url }}"
          echo "SWIFT_SDK_ID=${{ matrix.entry.swift-sdk.id }}" >> $GITHUB_ENV
      - run: make bootstrap
      - run: make test
      - run: make unittest
        # Skip unit tests with uwasi because its proc_exit throws
        # unhandled promise rejection.
        if: ${{ matrix.entry.wasi-backend != 'MicroWASI' }}
      - name: Check if SwiftPM resources are stale
        run: |
          make regenerate_swiftpm_resources
          git diff --exit-code Sources/JavaScriptKit/Runtime

  native-build:
    # Check native build to make it easy to develop applications by Xcode
    name: Build for native target
    strategy:
      matrix:
        include:
          - os: macos-12
            xcode: Xcode_14.0
          - os: macos-13
            xcode: Xcode_14.3
          - os: macos-14
            xcode: Xcode_15.2
    runs-on: ${{ matrix.os }}
    steps:
      - uses: actions/checkout@v4
      - run: swift build
        env:
          DEVELOPER_DIR: /Applications/${{ matrix.xcode }}.app/Contents/Developer/
