name: Run unit tests
on:
  pull_request:
  push:
    branches: [main]
jobs:
  test:
    name: Build and Test
    strategy:
      matrix:
        entry:
          # Ensure that all host can install toolchain, build project, and run tests
          - { os: macos-10.15,  toolchain: wasm-5.6.0-RELEASE, wasi-backend: Node }
          - { os: macos-11,     toolchain: wasm-5.6.0-RELEASE, wasi-backend: Node }
          - { os: macos-12,     toolchain: wasm-5.6.0-RELEASE, wasi-backend: Node }
          - { os: ubuntu-18.04, toolchain: wasm-5.6.0-RELEASE, wasi-backend: Node }

          # Ensure that test succeeds with all toolchains and wasi backend combinations
          - { os: ubuntu-20.04, toolchain: wasm-5.5.0-RELEASE, wasi-backend: Node }
          - { os: ubuntu-20.04, toolchain: wasm-5.6.0-RELEASE, wasi-backend: Node }
          - { os: ubuntu-20.04, toolchain: wasm-5.7-SNAPSHOT-2022-09-18-a, wasi-backend: Node }
          - { os: ubuntu-20.04, toolchain: wasm-5.6.0-RELEASE, wasi-backend: Wasmer }
          - { os: ubuntu-20.04, toolchain: wasm-5.7-SNAPSHOT-2022-09-18-a, wasi-backend: Wasmer }
          - { os: ubuntu-20.04, toolchain: wasm-5.6.0-RELEASE, wasi-backend: MicroWASI }
          - { os: ubuntu-20.04, toolchain: wasm-5.7-SNAPSHOT-2022-09-18-a, wasi-backend: MicroWASI }

    runs-on: ${{ matrix.entry.os }}
    steps:
      - name: Checkout
        uses: actions/checkout@master
        with:
          fetch-depth: 1
      - name: Run Test
        env:
          JAVASCRIPTKIT_WASI_BACKEND: ${{ matrix.entry.wasi-backend }}
        run: |
          git clone https://github.com/kylef/swiftenv.git ~/.swiftenv
          export SWIFTENV_ROOT="$HOME/.swiftenv"
          export PATH="$SWIFTENV_ROOT/bin:$PATH"
          eval "$(swiftenv init -)"
          SWIFT_VERSION=${{ matrix.entry.toolchain }} make bootstrap
          echo ${{ matrix.entry.toolchain }} > .swift-version
          make test
      - name: Check if SwiftPM resources are stale
        run: |
          make regenerate_swiftpm_resources
          git diff --exit-code Sources/JavaScriptKit/Runtime

  native-build:
    # Check native build to make it easy to develop applications by Xcode
    name: Build for native target
    strategy:
      matrix:
        include:
          - os: macos-10.15
            xcode: Xcode_12.4
          - os: macos-11
            xcode: Xcode_13.2.1
          - os: macos-12
            xcode: Xcode_13.3
          - os: macos-12
            xcode: Xcode_14.0
    runs-on: ${{ matrix.os }}
    steps:
      - uses: actions/checkout@v2
      - run: swift build
        env:
          DEVELOPER_DIR: /Applications/${{ matrix.xcode }}.app/Contents/Developer/
